.profile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    vertical-align: middle;
}
.profile-img {
    width: 70%;
    border-radius: 180%;
    border: 4px solid aliceblue;
}

.profile-img-container {
    text-align: center;
}

.profile-text {
    padding-top: 3em;
    line-height: 20px;
    font-size: 2vw;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}