/*materialize overwrite*/
select {
  display: block !important;
}

/*---*/
.formContent {
  display: none;
}

textarea {
  resize: none;
}

.sub-button:hover {
  background: rgb(231, 229, 229);
}

.map {
  margin: auto;
  width: 500px;
  height: 350px;
  margin-bottom: 20px;
}
