.accordian {
    width: 80%;
    margin: auto;
}

.collapsible-header {
    color: white;
    background:  #362b53;
    padding: 20px !important;
    font-size: 18px;
}

.collapsible-header:hover {
    background: #652d69d8;
}

.collapsible-body {
    text-align: left;
    background: rgba(207, 243, 250, 0.596);
    font-size: 18px;
}