body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url(../imgs/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

#center-content {
  width: 90vw;
  margin: 50px auto 50px auto;
  padding: 1em;
  min-height: 500px;
  max-height: auto;
  background: rgba(154, 228, 255, 0.911);
  border-radius: 9px;
}

.main-head {
  text-align: center;
  padding: 1em;
  color: white;
  width: 90vw;
  margin: 50px auto 0px auto;
  background: linear-gradient(to right, #362b53f6, #652d69f6);
  border-radius: 9px;
}

.welcome {
  font-family: 'sketch';
}

.head-tag {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main-break {
  border: 1px solid white;
  width: 80%;
  opacity: 0.8;
}

.main-text {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 18px;
}

.center-text {
  width: 80%;
  margin-top: -30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 18px;
}

.services {
  margin-top: -10px;
}

.company {
  font-size: 36px;
  line-height: 25px;
}

.lower-main {
  width: 80%;
  margin: auto;
  display: grid;
  margin-top: -80px;
  grid-template-columns: 2fr 2fr;
}

.why-container {
  width: 100%;
  font-size: 18px;
  padding: 1em;
  margin: auto;
}

.why li {
  list-style-type: disc !important;
  text-align: left;
}

.image-slider {
  width: 100%;
}

.carousel {
  height: 300px !important;
}

.testimonials {
  width: 60%;
  margin: auto;
}

.testimonial {
  width: 70% !important;
  height: auto;
  font-size: 18px !important;
  margin: auto;
  margin-top: 40px;
}

.social-links {
  font-family: "social";
  font-size: 350%;
}

.social-links a {
  color: black;
}

.social-links a:hover {
  color: rgb(255, 254, 254);
}

@font-face {
  font-family: "social";
  src: url(../fonts/social.ttf) format("truetype");
}

@font-face {
  font-family: 'sketch';
  src: url(../fonts/sketch.otf) format("opentype")
}
